.Hero{
   
    background: url('../images/3.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 35rem;
    color: white;
    transition-duration: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Hero:hover{
    background: url(../images/2.jpg);
    background-position: center;
    background-size: cover;
    transition-duration: 500ms;
}
.Hero h1{
    font-size: 10vw;
    -webkit-animation: fadein 1.5s;
}

@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}